<!--
<app-header></app-header>

<main class="container py-4 min-vh-100">
  <router-outlet></router-outlet>
</main>

<app-footer></app-footer>
-->


<!-- src/app/app.component.html -->
<!-- Header affiché uniquement si non sur page de connexion/inscription -->
<app-header *ngIf="!isAuthPage"></app-header>

<!-- Le contenu principal prend toute la hauteur disponible -->
<main [ngClass]="{'full-height': isAuthPage, 'with-header-footer': !isAuthPage}">
  <router-outlet></router-outlet>
</main>

<!-- Footer affiché uniquement si non sur page de connexion/inscription -->
<app-footer *ngIf="!isAuthPage"></app-footer>
